body {
	background-color: #fbfffe;
}

h1, h2, h3, ul, p, button, label, input, textarea {
	font-family: 'Roboto';
}

a {
	font-family: 'Courier Prime';
}

#pad {
	padding: 0 2em;
}

img {
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}

textarea {
	width: 100%;
}

@media all and (max-width: 450px) {
	.lt-content-column {
		padding: 0 5vw 30px 5vw;
	}
}

@media all and (max-width: 1200px) {
	#flexDiv {
		flex-direction: column;
	}

	img {
		max-width: none;
		max-height: none;
		width: 100%;
	}
}