:root {
  --lite-colours-light: #fbfffe;
  --lite-colours-lightgray: #f0f0f0;
  --lite-colours-gray: #999;
  --lite-arrow-color: #141021;

  --lite-colours-dark: #284b63;
  --lite-colours-secondary: #84a59d;
  --lite-colours-highlight: #f28482;
}

/* Card Styling */
.lt-card {
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  background-color: var(--lite-colours-lightgray);
}

/* Hover Effects */
.lt-hover {
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.lt-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.16);
  transform: translateY(-0.1em)
}

/* Shadow Styling */
.lt-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Horizontal List styling */
ul.lt-hl {
  list-style: none;
  padding: 0;
}

ul.lt-hl li {
  display:inline-block;
  border-style: none;
  font-size: 0.9em;
  margin-right: 3px;
  padding: 0.3rem;
  border-radius: 2px;
  color: var(--lite-colours-light);
  background-color: var(--lite-colours-secondary);
  margin-bottom: 0.2em;
}

/* Button/Input Styles */
.lt-button {
  background-color: var(--lite-colours-dark);
  color: var(--lite-colours-light);
  padding: 0.8em 2em;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-right: 1em;
  cursor: pointer;
  border: none;
}

.lt-round {
  border-radius: 2em !important;
}

/* Text box input styling */

/* Link/Text/Header Styling */

code, pre {
    font-family: monospace;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 1.4;
    background: rgba(0, 0, 0, .15);
}

h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

a {
  font-size: 1em;
  color: var(--lite-colours-dark);
  padding: 0 0.5em 0 0.5em;
}

/* Style Links */

/* Layout Styling */

.lt-flex-col {
  display: flex;
  flex-direction: column;
}

.lt-flex-row {
  display: flex;
  flex-direction: row;
}

.lt-content-column {
  padding: 0 20vw 30px 20vw;
}

/* Centre Div Horizontal */
.lt-centre {
  text-align: center;
}

.lt-centre-child {
  display: inline-block;
  text-align: left;
}

/* Default Flex Child Sizes */
/* 50/50 */
/* 33/66 */
/* 33/33/33 */